<p-toast/>
<p-confirmDialog/>
<spinner [show]="spinner"></spinner>
<div class="flex flex-column gap-3 justify-content-around surface-card p-3 border-none border-round-xl shadow-3">
    <div>
        <p class="text-4xl text-center font-semibold">Tarefas</p>
    </div>
    <div class="col-12 flex justify-content-center gap-3 h-auto">
        <div class="col-4 flex justify-content-center align-items-center surface-ground text-center border-round-xl" style="height: 49rem;">
            <div>
                <h4 class="">Selecione a data:</h4>
                <p-calendar
                    class="max-w-full"
                    [inline]="true"
                    [showWeek]="true"
                    [(ngModel)]="date"
                    (ngModelChange)="refresh()"
                ></p-calendar>
            </div>
        </div>
        <div class="sm:col-8 surface-ground text-center border-round-xl" style="height: 70vh;">
            <div *ngIf="tasks && tasks.length > 0; else noTasks">
                <p-table [paginator]="true"
                         [scrollable]="true"
                         [rows]="10"
                         [value]="tasks" class="p-datatable-sm surface-0">
                    <ng-template pTemplate="caption">
                        <div class="p-mt-4 flex justify-content-between align-items-center gap-2">
                            <div class="p-2 flex gap-2">
                            </div>
                            <div class="text-4xl">
                                <h4 class="text-center flex-grow-1">Tarefas para a
                                    data: {{ date | date: "dd/MM/yyyy" }}</h4>
                            </div>
                            <div class="p-2 flex gap-2">
                                <button *ngIf="isTaskEditable(date)" pButton icon="pi pi-plus" class="p-button-success p-mr-2"
                                        (click)="taskDialog = true"></button>
                            </div>
                        </div>
                    </ng-template>

                    <ng-template pTemplate="header">
                        <tr>
                            <th class="p-3 text-left">Título</th>
                            <th class="p-3 text-left">Descrição</th>
                            <th class="p-3 text-center">Ações</th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-task>
                        <tr>
                            <td class="p-3 text-left">
                                <span>{{ truncateText(task.title, 30) }}</span>
                            </td>
                            <td class="p-3 text-left">
                                <span>{{ truncateText(task.description, 60) }}</span>
                            </td>
                            <td class="p-3 text-center">
                                <button *ngIf="isTaskEditable(task.dueDate)" pButton icon="pi pi-pencil" (click)="showDialog(task)"
                                        class="p-button-sm p-button-info mr-2"></button>
                                <button *ngIf="isTaskEditable(task.dueDate)" pButton icon="pi pi-trash" (click)="confirmDeleteTask(task)"
                                        class="p-button-sm p-button-danger mr-2"></button>
                                <button pButton icon="pi pi-eye" (click)="showTask(task)"
                                        class="p-button-sm p-button-primary"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <ng-template #noTasks>
                <p class="p-3 text-center text-red-400 font-semibold text-2xl">Nenhuma tarefa para a data: {{ date | date: "dd/MM/yyyy" }}</p>
                <button *ngIf="isTaskEditable(date)" pButton icon="pi pi-plus" label="Adicionar" class="p-button-success p-mr-2"
                        (click)="taskDialog = true"></button>
            </ng-template>
        </div>
    </div>
</div>

<p-dialog [header]="isViewing ? 'Tarefa' : 'Registrar Tarefa'"
          [(visible)]="taskDialog"
          [modal]="true"
          [style]="{width: '40vw'}"
          (onHide)="closeDialog()"
          [breakpoints]="{ '1379px': '50vw', '767px': '60vw' }"
          [draggable]="false">
    <div class="grid p-fluid p-2">
        <div class="col-12">
            <div class="p-field">
                <label for="newContactCustomer">Título</label>
                <input id="newContactCustomer" type="text" pInputText [(ngModel)]="task.title" [readOnly]="isViewing"/>
            </div>
        </div>
        <div class="col-12">
            <div class="p-field">
                <label for="notes">Descrição</label>
                <textarea pInputTextarea
                          name="Descrição"
                          id="notes"
                          [(ngModel)]="task.description"
                          [autoResize]="true"
                          [readOnly]="isViewing"
                          class="overflow-auto"
                          style="min-height: 150px; max-height: 150px"
                          required
                          placeholder="Digite a descrição da tarefa">
                    </textarea>
            </div>
        </div>
    </div>
    <p-footer>
        @if (!isViewing) {
            <button pButton label="Cancelar" icon="pi pi-times" class="p-button-danger"
                    (click)="closeDialog()"></button>
            <button pButton label="Salvar" icon="pi pi-check" class="p-button-success"
                    (click)="saveTask(task)"></button> <!-- [disabled]="customerForm.invalid" -->
        }
    </p-footer>
</p-dialog>
