<p-toast></p-toast>
<spinner [show]="spinner"></spinner>
<div class="flex flex-column gap-3 justify-content-around surface-card p-3 border-none border-round-xl shadow-3">
    <div>
        <div class="text-4xl text-center font-semibold">Carteira de Clientes</div>
    </div>
    <div class="flex flex-row justify-content-between gap-3" style="height: 49rem;">
        <div
            *ngFor="let status of [CustomerStatus.NEW, CustomerStatus.CONTACT, CustomerStatus.PRESENTATION, CustomerStatus.PROPOSAL, CustomerStatus.NEGOTIATION]"
            class="border-2 surface-border border-round overflow-auto w-20rem lg:w-30rem flex flex-column gap-2"
            pDroppable (onDrop)="drop(status)">
            <div
                class="text-center text-lg flex justify-content-between align-items-center font-bold border-bottom-3 p-3 text-md surface-ground border-round sticky top-0"
                [ngClass]="{
                    'border-blue-500': status === CustomerStatus.NEW,
                    'border-red-500': status === CustomerStatus.CONTACT,
                    'border-orange-500': status === CustomerStatus.PRESENTATION,
                    'border-yellow-500': status === CustomerStatus.PROPOSAL,
                    'border-green-500': status === CustomerStatus.NEGOTIATION
                }">
                <div class="grid grid-nogutter w-full">
                    <div class="lg:col-10 col-12 flex justify-content-center mb-2">
                        {{ status }}
                    </div>
                    <div class="lg:col-2 col-12 flex justify-content-center">
                        <p-tag
                            [value]="getCustomersByStatus(status)?.length.toString()"
                            [style]="{
                                backgroundColor: 'var(--text-color)',
                                fontSize: '1rem',
                                borderRadius: '50%',
                                padding: '0.8rem',
                                width: '2rem',
                                height: '2rem',
                                display: 'flex',
                                alignItems: 'center',
                                justifyContent: 'center'
                            }"/>
                    </div>
                </div>
            </div>
            <ul class="flex flex-column gap-3 p-0 m-0" style="max-height: 36rem;">
                <li *ngFor="let customer of getCustomersByStatus(status)"
                    class="overflow-hidden cursor-pointer text-wrap mx-2 p-2 transition-colors surface-ground
                    hover:bg-black-alpha-10 transition-all border-round-lg shadow-3"
                    pDraggable
                    (onDragStart)="dragStart(customer)"
                    (onDragEnd)="dragEnd()"
                    style="min-height: 10rem;
                           border-left: 0.4rem solid;
                           border-radius: 0.5rem;
                           transition: all 0.3s;"
                    [ngClass]="{
                            'border-blue-500': customer.customerStatus === CustomerStatus.NEW,
                            'border-red-500': customer.customerStatus === CustomerStatus.CONTACT,
                            'border-orange-500': customer.customerStatus === CustomerStatus.PRESENTATION,
                            'border-yellow-500': customer.customerStatus === CustomerStatus.PROPOSAL,
                            'border-green-500': customer.customerStatus === CustomerStatus.NEGOTIATION
                    }">
                    <div class="w-full p-2 font-bold text-lg">
                        <div class="grid grid-nogutter gap-1">
                            <div class="col-1">
                                @if (customer.cpfCnpj.length === 11) {
                                    <i class="pi pi-user text-xl font-bold vertical-align-bottom"></i>
                                } @else {
                                    <i class="pi pi-briefcase text-xl font-bold"></i>
                                }
                            </div>
                            <div class="col-10">
                                <span class="text-overflow-ellipsis overflow-hidden white-space-nowrap p-2">
                                    {{ customer.name }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="w-full p-2 text-sm">
                        <div class="grid grid-nogutter gap-1">
                            <div class="col-1">
                                <i class="pi pi-envelope vertical-align-bottom"></i>
                            </div>
                            <div class="col-10">
                                <span class="text-overflow-ellipsis overflow-hidden white-space-nowrap p-2">
                                    {{ customer.email }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="w-full p-2 text-sm">
                        <div class="grid grid-nogutter gap-1">
                            <div class="col-1">
                                <i class="pi pi-phone vertical-align-bottom"></i>
                            </div>
                            <div class="col-10">
                                <span class="text-overflow-ellipsis overflow-hidden white-space-nowrap p-2">
                                    {{ getCustomerPhoneNumber(customer.phoneNumbers[0]) + (customer.phoneNumbers[1] ? ' - ' + getCustomerPhoneNumber(customer.phoneNumbers[1]) : '') }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="w-full p-2 text-sm">
                        <div class="grid grid-nogutter gap-1">
                            <div class="col-1">
                                <i class="pi pi-map-marker vertical-align-bottom"></i>
                            </div>
                            <div class="col-10">
                                <span class="text-overflow-ellipsis overflow-hidden white-space-nowrap p-2">
                                    {{ getCustomerAddress(customer) }}
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<p-dialog header="Registrar Contato"
          [(visible)]="contactDialog"
          [modal]="true"
          [style]="{width: '40vw'}"
          [breakpoints]="{ '1379px': '50vw', '767px': '60vw' }"
          [draggable]="false"
          (onHide)="closeDialog(CustomerStatus.CONTACT)">
    <div class="grid p-fluid p-2">
        <div class="col-12">
            <div class="p-field">
                <label for="newContactCustomer">Cliente</label>
                <input id="newContactCustomer" type="text" pInputText [(ngModel)]="selectedCustomer.name" disabled/>
            </div>
        </div>

        <div class="col-12 lg:col-6">
            <div class="p-field">
                <label for="category">Tipo de Contato</label>
                <p-dropdown
                    id="category"
                    name="Categoria"
                    [appendTo]="'body'"
                    [options]="contactTypes"
                    (onChange)="contact.info.contactType = $event.value.value; updateContactOptions()"
                    optionLabel="label"
                    placeholder="Selecione uma categoria"/>
            </div>
        </div>

        <div class="col-12 lg:col-6">
            <div class="p-field">
                <label for="contactAddress">Endereço de Contato</label>
                <p-dropdown
                    id="contactAddress"
                    name="Endereço de Contato"
                    [appendTo]="'body'"
                    [options]="contactOptions"
                    optionLabel="label"
                    (onChange)="contact.info.value = $event.value.value"
                    [editable]="true">
                </p-dropdown>
            </div>
        </div>

        <div class="col-12">
            <div class="p-field">
                <label for="notes">Observações</label>
                <textarea pInputTextarea
                          name="Descrição"
                          id="notes"
                          [(ngModel)]="contact.notes"
                          [autoResize]="true"
                          class="overflow-auto"
                          style="min-height: 150px; max-height: 150px"
                          required
                          placeholder="Digite a observação do contato.">
                    </textarea>
            </div>
        </div>
    </div>
    <p-footer>
        <button pButton label="Cancelar" icon="pi pi-times" class="p-button-danger"
                (click)="closeDialog(CustomerStatus.CONTACT)"></button>
        <button pButton label="Salvar" icon="pi pi-check" class="p-button-success"
                (click)="saveContact()"></button> <!-- [disabled]="customerForm.invalid" -->
    </p-footer>
</p-dialog>
