<p-toast/>
<p-confirmDialog/>
<spinner [show]="spinner"></spinner>
<div class="surface-card p-3 border-none border-round-xl shadow-3">
    <p-table [value]="products"
             [paginator]="true"
             [scrollable]="true"
             [rows]="10">
        <ng-template pTemplate="caption">
            <div class="p-mt-4 flex justify-content-between gap-2">
                <div class="p-2 flex gap-2">
                    <button pButton icon="pi pi-print" class="p-button-help p-mr-2"
                            (click)="true"></button>
                </div>
                <div class="text-4xl">Produtos</div>
                <div class="p-2 flex gap-2">
                    <button pButton icon="pi pi-plus" class="p-button-success p-mr-2"
                            (click)="productDialog = true"></button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th></th>
                <th class="font-semibold">Nome</th>
                <th class="font-semibold">Categoria</th>
                <th class="font-semibold text-center">Alterado Por</th>
                <th class="font-semibold">Data Atualização</th>
                <th class="font-semibold text-center">Status</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>
                    <div class="flex gap-2">
                        <button class="p p-button-info p-button-raised" pButton icon="pi pi-pencil"
                                (click)="editProduct(product)"></button>
                        <button class="p p-button-danger p-button-raised" pButton icon="pi pi-trash"
                                (click)="confirmDeleteProduct(product)"></button>
                    </div>
                </td>
                <td>{{ product.name }}</td>
                <td>{{ product.categoryName }}</td>
                <td class="text-center"><p-tag
                    severity="warning"
                    value="{{ product.lastModifiedBy }}"/>
                </td>
                <td>{{ product.lastModifiedDate | date:"dd/MM/yyyy - HH:mm:ss" }}</td>
                <td class="text-center" [ngClass]="{
                      'text-green-300 font-semibold': product.active,
                      'text-red-300': !product.active}">
                    <p-tag
                        [severity]="product.active ? 'success' : 'danger'"
                        value="{{ product.active ? 'Ativo' : 'Inativo' }}"/>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
<form #productForm="ngForm" name="productForm">
    <p-dialog header="Novo Produto"
              [(visible)]="productDialog"
              [modal]="true"
              [style]="{width: '55vw'}"
              [breakpoints]="{ '1379px': '75vw', '767px': '90vw' }"
              [maximizable]="true"
              [draggable]="false">
        <div class="grid p-fluid p-2">
            <div class="col-12">
                <div class="p-field">
                    <label for="name">Nome</label>
                    <input pInputText
                           name="Nome"
                           id="name"
                           [(ngModel)]="product.name"
                           required
                           placeholder="Digite o nome do produto."/>
                </div>
            </div>

            <div class="col-12">
                <div class="p-field">
                    <label for="description">Descrição</label>
                    <textarea pInputTextarea
                              name="Descrição"
                              id="description"
                              [(ngModel)]="product.description"
                              [autoResize]="true"
                              class="overflow-auto"
                              style="min-height: 150px; max-height: 150px"
                              required
                              placeholder="Digite a descrição do produto.">
                    </textarea>
                </div>
            </div>

            <div class="col-6 md:col-4">
                <div class="p-field">
                    <label for="price">Preço</label>
                    <p-inputNumber
                        id="price"
                        name="Preço"
                        type="number"
                        mode="decimal"
                        locale="de-DE"
                        prefix="R$ "
                        [maxFractionDigits]="2"
                        [(ngModel)]="product.price"
                        placeholder="Insira o preço do produto"/>
                </div>
            </div>
            <div class="col-6 md:col-4">
                <div class="p-field">
                    <label for="category">Categoria</label>
                    <p-dropdown
                        id="category"
                        name="Categoria"
                        [appendTo]="'body'"
                        [options]="productCategories"
                        (onChange)="product.categoryId = $event.value.id; product.categoryName = $event.value.name"
                        optionLabel="name"
                        placeholder="Selecione uma categoria"
                    />
                </div>
            </div>
            <div class="col-12 md:col-4 flex flex-row align-content-center justify-content-around mt-3">
                <div class="flex align-items-center">
                    <p-radioButton
                        name="active"
                        [value]="true"
                        [(ngModel)]="product.active"
                        id="activeTrue"/>
                    <label for="activeTrue" class="ml-2">
                        Ativo
                    </label>
                </div>
                <div class="flex align-items-center ml-2">
                    <p-radioButton
                        name="active"
                        [value]="false"
                        [(ngModel)]="product.active"
                        id="activeFalse"/>
                    <label for="activeFalse" class="ml-2">
                        Inativo
                    </label>
                </div>
            </div>
        </div>
        <p-footer>
            <button pButton label="Cancelar" icon="pi pi-times" class="p-button-danger"
                    (click)="productDialog = false"></button>
            <button pButton label="Salvar" icon="pi pi-check" class="p-button-success"
                    (click)="saveProduct()"
                    [disabled]="productForm.invalid"></button>
        </p-footer>
    </p-dialog>
</form>
